<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' type='text/css'>
  <link rel="stylesheet" href="resources/css/font-awesome.min.css">
  <link rel="stylesheet" href="resources/css/style.css">
  <script src="resources/js/jquery-2.2.1.min.js"></script>
  <script src="resources/js/jquery.textfill.min.js"></script>
</head>
<body>
  <div id="container">
    <header>
      <img id="logo" src="resources/img/tripsit.svg" alt="logo">
      <!-- CZEPS logo with text on the right side -->
    </header>
      <div id="legend-long">
        {% include "legend-long.html" %}
      </div>
      <div id="drug-tree">
        {% include "drug-tree.html" %}
      </div>
    <footer>
    </footer>
    </div>
</body>
</html>
