<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' type='text/css'>
  <link rel="stylesheet" href="resources/css/font-awesome.min.css">
  <link rel="stylesheet" href="resources/css/style.css">
  <script src="resources/js/jquery-2.2.1.min.js"></script>
  <script src="resources/js/jquery.textfill.min.js"></script>
</head>
<body>
  <div id="container">
    <div id="legend-long" style="margin-bottom: 32px">
      {% include "legend-long.html" %}
    </div>
    {% include "combo-table.html" %}
  </div>
</body>
</html>
